<!DOCTYPE html>
<html lang="en" ng-app="addressBookApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="app/lib/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x2js/1.2.0/xml2json.min.js"></script>
    <script src="app/app.js"></script>
    <link rel="stylesheet" type="text/css" href="content/css/styles.css" />
    <title>Address Book</title>
  </head>
  <body ng-controller="addressBookController">
    <input type="text" ng-model="search" placeholder="Search for a person" />
    <label for="countryFilter">Country</label>
    <select
      id="countryFilter"
      ng-model="countryFilter"
      ng-options="c for c in countries"
    >
      <option value="">All Countries</option>
    </select>
    <label for="roleFilter">Role</label>
    <select id="roleFilter" ng-model="roleFilter" ng-options="r for r in roles">
      <option value="">All Roles</option>
    </select>
    <label for="companyFilter">Company</label>
    <select
      id="companyFilter"
      ng-model="companyFilter"
      ng-options="c for c in companies"
    >
      <option value="">All Companies</option>
    </select>
    <button ng-click="viewmode = 'table'">Table</button>
    <button ng-click="viewmode = 'card'">Card</button>
    <div ng-include="viewmode + '.html'"></div>
  </body>
</html>
