<input
  type="text"
  ng-model="filters.search"
  placeholder="Search for a person"
/>
<label for="countryFilter">Country</label>
<select
  id="countryFilter"
  ng-model="filters.country"
  ng-options="c as (c || 'All Countries') for c in [''].concat(countries)"
></select>
<label for="roleFilter">Role</label>
<select
  id="roleFilter"
  ng-model="filters.role"
  ng-options="r as (r || 'All Roles') for r in [''].concat(roles)"
></select>
<label for="companyFilter">Company</label>
<select
  id="companyFilter"
  ng-model="filters.company"
  ng-options="c as (c || 'All Companies') for c in [''].concat(companies)"
></select>
<button ng-click="view.mode = 'table'">Table</button>
<button ng-click="view.mode = 'card'">Card</button>
