<table>
  <thead>
    <tr>
      <th>
        Contact Name
        <span ng-click="changeContactOrder()">{{contactOrderSymbol}}</span>
      </th>
      <th>Email</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Role</th>
      <th>Company Name</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr
      ng-repeat="address in addresses | orderBy: contactOrder | filter: {ContactName: search} | filter: (countryFilter ? {Country: countryFilter} : {}) | filter: (roleFilter ? {ContactTitle: roleFilter} : {}) | filter: (companyFilter ? {CompanyName: companyFilter} : {})"
    >
      <th>{{address.ContactName}}</th>
      <th>{{address.Email}}</th>
      <th>{{address.Phone}}</th>
      <th>{{address.Fax}}</th>
      <th>{{address.ContactTitle}}</th>
      <th>{{address.CompanyName}}</th>
      <th>
        {{address.Address}}, {{address.City}}, {{address.PostalCode}},
        {{address.Country}}.
      </th>
    </tr>
  </tbody>
</table>
